.blackCard {
	background-color: #2F4F4F;
	padding: 8px;
	max-height: 400px;
	max-width:  400px;
	color: white;
}

#handOfCards {
	background-color: lightblue;
}

.whiteCard {
	max-height: 400px;
	max-width:  200px;
	background-color: lightgray;
	margin: 15px 8px;
	padding: 4px;
	border: solid;
	display: inline-block;
}

.downfacingCard {
	max-height: 400px;
	max-width:  200px;
	background-color: darkgray;
	margin: 15px 8px;
	padding: 4px;
	border: solid;
	display: inline-block;
}

.revealedCard {
	max-height: 400px;
	max-width:  200px;
	background-color: lightgray;
	margin: 15px 8px;
	padding: 4px;
	border: solid;
	display: inline-block;
}

.chosenCard {
	background-color: aqua;
}

.selectedCard {
	border-color: blue;
}

.divBorder {
	border-style: solid;
}

.submittedCard {
	background-color: red;
}

.developerLoginPresets {
	display: inline-block;
}